* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Balsamiq Sans', sans-serif;
  font-weight: 900;
  color: black;
  padding-inline: 1rem;
}

main {
  padding: 1rem;
}

#table {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 60vh;
  min-height: 200px;
  overflow-y: auto;
  border: 5px solid black;
  margin-block: 2rem;
}

#table tr {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}

#table tr:nth-child(odd) {
  background: rgba(128, 128, 128, 0.267);
}

hr {
  /* margin: 1rem 0; */
  color: inherit;
  background-color: currentColor;
  border: 1px solid black;
  opacity: 0.75;
  width: 150px;
}

button {
  box-shadow: 4px 3px 5px black;
  background-color: white;
  border-radius: 5px;
  border: 3px solid black;
  font-weight: bolder;
  padding: 0.2rem 0.5rem;
}

p {
  margin: 0;
}

input {
  border: 3px solid black;
  margin: 0;
}

form {
  gap: 1rem;
}

form button {
  align-self: flex-end;
}

.menu-items a {
  margin-right: 5px;
  color: black;
  border-right: 2px solid black;
  padding: 0 20px;
}

a:hover {
  color: blue;
}

.menu-items a:last-child {
  border: none;
}

.contact-section {
  max-width: 50%;
}

.section-table {
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.75) 75%, rgba(255, 255, 255, 0) 100%);
  padding: 10px;
}

footer p {
  border: 5px solid black;
  padding: 10px;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.75) 75%, rgba(255, 255, 255, 0) 100%);
}

nav {
  border: 5px solid black;
  width: 100%;
}

section {
  padding-top: 100px;
}

.hidden {
  display: none !important;
}

#date {
  padding: 5px;
  float: right;
}
